<header>
  <nav>
      <ul class="nav__links">
          <li><a href="">JIKIKI Market</a></li>
          <li><a href="/my-wishlist">Wishlist</a></li>
          <li><a href="/my-messages">Messages</a></li>
          <li><a href="/new-listing">Create Listings</a></li>
          <li><a href="/my-listings">My Listings</a></li>
      </ul>
  </nav>
  <a class="cta" href="http://localhost:8080/search">Search</a>
  <p class="menu cta">Menu</p>
</header>
