<header>
  <nav>
      <ul class="nav__links">
          <li><a href="/">JIKIKI Market</a></li>
          <li><a href="/my-wishlist">Wishlist</a></li>
          <li><a href="/my-messages">Messages</a></li>
          <li><a href="/new-listing">Create Listings</a></li>
          <li><a href="/my-listings">My Listings</a></li>
      </ul>
  </nav>
  <a class="cta" href="/search">Search</a>
  <p class="menu cta">Menu</p>

  <form id="login-form" class="login-form">
    <a id="login-form_" href="/login">Login</a>
    <!-- <div class="login-form__field-wrapper">
      <input type="email" name="email" placeholder="Email">
    </div>

    <div class="login-form__field-wrapper">
        <input type="password" name="password" placeholder="Password">
      </div> -->

    <!-- <div class="login-form__field-wrapper">
        <a id="login-form__cancel" href="#">Cancel</a>
    </div> -->
  </form>
</header>
