<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  
</head>
  <body>
    <header>
        <%- include('partials/_header') %>
    </header>
    <div class="container">
      <form action="/api/login" method="POST" class="login-email">
        <p class="login-text" style="font-size: 2rem; font-weight: 800;">Login</p>
        <div class="input-group">
          <input type="email" placeholder="Email" name="email" required>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" name="password" required>
        </div>
        <div class="input-group">
          <button name="submit" class="btn">Login</button>
        </div>
        <p class="login-register-text">Don't have an account? Register Here</p>
      </form>
    </div>
  </body>
</html>

