@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  padding: 200px;
  // padding-bottom: 20%;
}

body h1,
body p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-variant:normal;
  // margin-top:100px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #8b6b9e;
}


#featured-items {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #93b1d8;
  box-shadow: 3px 3px 7px 1px rgb(130, 133, 138);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500; 
}

.nav__links a,
.cta,
.overlay__content a,
#login-form label,
#login-form_ {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  padding-right: 350px;
}

.nav__links li,
#login-form label {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(71, 137, 199);
}

.cta,
#login-form_ {
  padding: 9px 25px;
  background-color: rgb(71, 137, 199);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(19, 118, 184, 0.8)
}

#product1 ,
#product2 {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  grid-template-columns: 1fr;
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }
}

.pro-container {
  display: flex;
  flex-wrap: wrap;
}

#product1 .pro-container,
#product2 .pro-container {
  // width: 300px;
  padding: 10px 12px;
  border: 3px solid #8b6b9e;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(124, 46, 143, 0.07);
  margin: 50px 0px;
  transition: 0.2 ease;
}

#product1 .pro-container:hover,
#product2 .pro-container:hover {
  box-shadow: 20px 20px 30px rgba(124, 46, 143, 0.282);
}

#product1 .pro-container img, 
#product2 .pro-container img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro-container .title,
#product2 .pro-container .title {
  text-align: start;
  padding: 10px 0;
} 

#product1 .pro-container .title span,
#product2 .pro-container .title span {
  color: rgb(112, 165, 245);
  font-size: 24px;
}

.fa, .fas {
  color: black;
}

// .menu {
//   display: none;
// }

// .overlay {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   background-color: #24252a;
//   overflow-x: hidden;
//   transition: width 0.5s ease 0s;
// }

// .overlay--active {
//   width: 100%;
// }

// .overlay__content {
//   display: flex;
//   height: 100%;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// .overlay a {
//   padding: 15px;
//   font-size: 36px;
//   display: block;
//   transition: color 0.3s ease 0s;
// }

// .overlay a:hover,
// .overlay a:focus {
//   color: rgb(71, 137, 199);
// }
// .overlay .close {
//   position: absolute;
//   top: 20px;
//   right: 45px;
//   font-size: 60px;
//   color: #edf0f1;
// }

// .my-listings {
//   display: flex;
//   flex-direction: column;
// }



// @media screen and (max-height: 450px) {
//   .overlay a {
//     font-size: 20px;
//   }
//   .overlay .close {
//     font-size: 40px;
//     top: 15px;
//     right: 35px;
//   }
// }

// @media only screen and (max-width: 800px) {
//   .nav__links,
//   .cta {
//     display: none;
//   }
//   .menu {
//     display: initial;
//   }
// }