@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  padding: 200px;
}

body h1,
body p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-variant:normal;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(71, 137, 199);
}


#featured-items {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #93b1d8;
  box-shadow: 3px 3px 7px 1px rgb(130, 133, 138);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.nav__links a,
.cta,
.overlay__content a,
#login-form label,
#login-form_ {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  padding-right: 350px;
}

.nav__links li,
#login-form label {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(71, 137, 199);
}

.cta,
#login-form_ {
  padding: 9px 25px;
  background-color: rgb(71, 137, 199);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(19, 118, 184, 0.8);
}

#product1 ,
#product2 {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  grid-template-columns: 1fr;
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }
}

.pro-container {
  display: flex;
  flex-wrap: wrap;
}

#product1 .pro-container,
#product2 .pro-container {
  // width: 300px;
  padding: 10px 12px;
  border: 3px solid #554cc5;
  border-radius: 25px;
  cursor: pointer;
  // box-shadow: 5px 5px 20px 30px rgba(124, 46, 143, 0.07);
  margin: 50px 0px;
  transition: 0.2 ease;
}

#product1 .pro-container:hover,
#product2 .pro-container:hover {
  box-shadow: 0px 2px 4px 7px rgba(252, 221, 45, 0.4);
}

#product1 .pro-container img, 
#product2 .pro-container img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro-container .title,
#product2 .pro-container .title {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro-container .title span,
#product2 .pro-container .title span {
  color: rgb(112, 165, 245);
  font-size: 24px;
}

.fa, .fas {
  color: black;
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.like_button_form {
  display: inline;
}

.like_button_form button {
  border: 0;
  background: transparent;
}

.like_button_form button:hover i,
.like_button_form button:hover span {
  color: red;
  cursor: pointer;
}

.pro .icons .fas.fa-envelope:hover {
  color: green;
}

// Login Css

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}


.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: rgb(71, 137, 199);
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: rgb(71, 137, 199);
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: rgb(25, 112, 194);
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}